.classpath
.project
.settings/
.jcideslndata/
.JCIDE/
bin/
venv/
__pycache__/

*.swp
.gradle
local.properties
.idea/workspace.xml
.idea/libraries
.DS_Store
/build
*.iml
app/build
**/build/
**/out/
.syntastic_javac_config
javac*.args

/apache-ant*
/lib
TEST-*
.idea/
.vscode
.ipynb_checkpoints/
.vs